<div class="servico_topo"> </div>
<div class="servico_meio">
  <div class="dados">
    <% if !@service.blank? %>
      <%= @service.description.html_safe %>
    <% end %>
  </div>
</div>
<div class="empresa_bottom"> </div>