<div class="empresa_topo"> </div>
<div class="empresa_meio">
  <div class="dados">
    <% if !@company.blank? %>
      <%= @company.description.html_safe %>
    <% end %>
  </div>
</div>
<div class="empresa_bottom"> </div>