<div class="galeria_topo"> </div>
<div class="galeria_meio">
  <div class="dados">
    <% if !@gallery.blank? %>
      <%= @gallery.description.html_safe %>
    <% end %>
  </div>
</div>
<div class="galeria_bottom"> </div>