<p>Olá, <%= @resource.email %>!</p>

<p>Alguem requisitou o link de trocar a sua senha, e você pode fazer isso clicando no link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou isso, por favor ignore esse email.</p>
<p>A sua senha não será mudada enquanto você não acessar o link acima e inserir uma nova.</p>
