<div class="localizacao_esquerda">
  <div class="dados">
    <div>
      <% if !@location.blank? %>
        <%= @location.description_left.html_safe %>
      <% end %>
    </div>
  </div>
</div>

<div class="localizacao_direita">
  <% if !@location.blank? %>
    <%= @location.description_right.html_safe %>
    <% end %>
</div>